*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #0c0c0c;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/*SECTION 1*/
.sec1{
    background-image: url("imagem/fundos.jpg");
}
.main1{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
h1{
    color: limegreen;
    font-size: 35px;
}
.efeito{
    border-right: 4px solid;
    white-space: nowrap;
    width: 22ch;
    overflow: hidden;
    animation: animaTexto steps(22) 2s, animaMarcador 0.5s linear infinite;
}
@keyframes animaTexto{
    0%{
        width: 0;
    }
}
@keyframes animaMarcador{
    50%{
        border-right: transparent;
    }
}
@media screen and (max-width: 768px){
    .main1{
        display: flex;
        align-items: center;
        text-align: center;
        min-height: 80vh;
    }
    h1{
        font-size: 25px;
    }
    .efeito{
        border-right: 4px solid;
        white-space: nowrap;
        width: 22ch;
        overflow: hidden;
        animation: animaTexto steps(22) 2s, animaMarcador 0.5s linear infinite;
    }
}
/*SECTION 2*/
.sec2{
    background-image: url("imagem/fundos.jpg");
}
.main2{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
}
.efeito2{
    border-right: 4px solid;
    white-space: nowrap;
    width: 13ch;
    overflow: hidden;
}
.efeito2.animate{
    animation: animaTexto steps(13) 2s, animaMarcador 0.5s linear infinite;
}
h2{
    color: limegreen;
    font-size: 25px;
    text-align: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    background: #242824;
    padding: 10px;
    border-radius: 6px;
    gap: 0.5rem;
    height: max-content;
}
.card.animate{
    animation: slideRight 0.5s ease;
}
a{
    color: limegreen;
    text-decoration: none;
    text-align: end;
}
@keyframes slideRight{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}
@media screen and (max-width: 768px){
    .main2{
        display: flex;
        align-items: center;
        text-align: center;
        min-height: 30vh;
    }
    h1,h2{
        font-size: 25px;
        text-align: center;
    }
    .efeito2{
        border-right: 4px solid;
        white-space: nowrap;
        width: 13ch;
        overflow: hidden;
    }
    .efeito2.animate{
        animation: animaTexto steps(13) 2s, animaMarcador 0.5s linear infinite;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .card{
        flex-direction: column;
    }
}
