*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*INICIO PARTE GERAL*/
body{
  background: #0c0c0c;
  font-family: Arial, Helvetica, sans-serif;
}
header{
  text-align: start;
  position: fixed;
}
nav ul{
  display: flex;
  justify-content: start;
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 10px;
}
nav ul li{
  display: inline;
  margin-right: 10px;
}
nav ul li a{
  color: white;
  text-decoration: limegreen underline 3px;
}
section{
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/*FIM PARTE GERAL*/
/*INICIO SECTION 1*/
.sec1{
  background-image: url("imagem/fundos.jpg");
}
.main1{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
h1{
  color: limegreen;
}
.efeito{
  font-family: "Press Start 2P", system-ui;
  font-size: 25px;
  border-right: 4px solid;
  white-space: nowrap;
  width: 24ch;
  overflow: hidden;
  animation: animaTexto steps(24) 2s, animaMarcador 0.5s linear infinite;
}
@keyframes animaMarcador{
  50%{
    border-right: transparent;
  }
}
@keyframes animaTexto{
  0%{
    width: 0;
  }
}
/*FIM SECTION 1*/
/*INICIO SECTION 2*/
.sec2{
  background-image: url("imagem/fundos.jpg");
}
.main2{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}
.efeito2{
  font-family: "Press Start 2P", system-ui;
  border-right: 4px solid;
  white-space: nowrap;
  width: 8ch;
  overflow: hidden;
}
.efeito2.animate{
  animation: animaTexto steps(8) 2s, animaMarcador 0.5s linear infinite;
}
h2{
  color: limegreen;
  text-align: center;
}
button{
  background-color: limegreen;
  font-weight: bold;
  color: black;
  padding: 10px 15px;
  border-radius: 7px;
  border: 2px solid;
  cursor: pointer;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.card{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #242824;
  padding: 10px;
  border-radius: 6px;
  gap: 0.5rem;
  height: max-content;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  animation: slideRight 0.5s ease;
}
@keyframes slideRight{
  0%{
    opacity: 0;
    transform: translateX(-100%);
  }
  100%{
    opacity: 1;
    transform: translateX(0%);
  }
}
a{
  color: limegreen;
  text-decoration: none;
  text-align: end;
}
/*FIM SECTION 2*/
/*INICIO TAMANHO DO PORTFOLIO PARA TELAS MENORES*/
@media screen and (max-width: 768px){
.efeito{
  font-family: "Press Start 2P", system-ui;
  font-size: 25px;
  border-right: 4px solid;
  white-space: wrap;
  width: 24ch;
  overflow: hidden;
  animation: animaTexto steps(24) 2s, animaMarcador 0.5s linear infinite;
}
 .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.card{
  flex-direction: column;
}
}
/*FIM TAMANHO DO PORTFOLIO PARA TELAS MENORES*/
